<header>
    <nav>
        <ul>
            <li>
                <a class="<%= path === '/' ? 'active' : '' %>" href="/"
                    >Books</a
                >
            </li>
        </ul>
    </nav>
</header>
