<header>
    <nav>
        <ul>
            <li>
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li>
                <a
                    href="/products"
                    class="<%= path === '/addProduct' ? 'active' : '' %>"
                    >Add Product</a
                >
            </li>
        </ul>
    </nav>
</header>
